.cardsContainer {
  padding: 0 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1600px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1400px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 980px) {
  .cardsContainer {
    padding: 0 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 756px) {
  .cardsContainer {
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
