@use "@/_styles/mixins" as *;

.button {
  @include flex-center;
  font-family: var(--font-primary);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

// Text Sizes
.sm {
  font-size: var(--font-sm); // 12px
}

.md {
  font-size: var(--font-md); // 16px
}

.lg {
  font-size: var(--font-lg); // 20px
}

// Padding
.sm {
  padding: 5px 20px;
}

.md {
  padding: 10px 30px;
}

// Border Radius
.sm {
  border-radius: 5px;
}

.md {
  border-radius: 10px;
}

.full {
  border-radius: 50px;
}

// Full Width
.fullWidth {
  width: 100%;
}

// Outline Button Style
.outline {
  background-color: transparent !important;
  border: 1px solid currentColor;
}

// Preset Colors
@each $color-name,
  $color-value
    in (
      "dark-slate": var(--color-dark-slate),
      "slate": var(--color-slate),
      "orange": var(--color-orange),
      "light": var(--color-light),
      "dark": var(--color-dark),
      "yellow": var(--color-yellow),
      "gray": var(--color-gray),
      "black": var(--color-black),
      "white": var(--color-white)
    )
{
  .text-#{$color-name} {
    color: #{$color-value};
  }

  .bg-#{$color-name} {
    background-color: #{$color-value};
  }

  .outline-#{$color-name} {
    border-color: #{$color-value};
  }
}
