#home-trending-section .slick-track {
  display: flex !important;
  gap: 2rem !important;
}

:where(.css-dev-only-do-not-override-19bz483).ant-pagination
  .ant-pagination-item-active {
  border: none !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: var(--carousel-arrow-color) !important;
}
