@use "variables" as *;

:root {
  --primary-text-color: #{$black};
  --secondary-text-color: #{$gray};
  --background-color: #{$light};
}

[data-theme="dark"] {
  --primary-text-color: #{$white};
  --secondary-text-color: #{$gray};
  --background-color: #{$dark-slate};
}
