@use "variables" as *;

:root {
  --color-dark-slate: #{$dark-slate};
  --color-slate: #{$slate};
  --color-orange: #{$orange};
  --color-light: #{$light};
  --color-dark: #{$dark};
  --color-yellow: #{$yellow};
  --color-light-gray: #{$light-gray};
  --color-gray: #{$gray};
  --color-dark-gray: #{$dark-gray};
  --color-black: #{$black};
  --color-white: #{$white};
  --primary-text-color: #{$white};
  --secondary-text-color: #{$gray};
  --banner-description-color: #{$gray};
  --background-color: #{$dark-slate};
  --primary-highlight-color: #{$orange};
  --secondary-highlight-color: #{$yellow};
  --primary-color: #{$dark-slate};
  --secondary-color: #{$slate};
  --header-background-color: #{$dark};
  --footer-background-color: #{$dark};
  --carousel-arrow-color: #{$white};
  --banner-gradient: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.9) 85%
  );
  --header-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  --body-background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ff000000'/><path d='M15.986 4.186 4.1 16.072v.58L16.566 4.186Zm7.62 0 12.38 12.38v-.58l-11.8-11.8Zm12.38 19.248L23.52 35.9h.58l11.886-11.886ZM4.1 23.52v.58l11.8 11.8h.58z'  stroke-linecap='square' stroke-width='0.5' stroke='%231b3b51ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

[data-theme="light"] {
  --color-gray: #{$dark-gray};
  --primary-text-color: #{$black};
  --secondary-text-color: #{$dark-gray};
  --banner-description-color: #{$dark};
  --background-color: #{$light};
  --primary-highlight-color: #{$orange};
  --secondary-highlight-color: #{$yellow};
  --primary-color: #{$slate};
  --secondary-color: #{$dark-slate};
  --header-background-color: #{$light-gray};
  --footer-background-color: #{$light-gray};
  --carousel-arrow-color: #{$black};
  --banner-gradient: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0.773) 80%
  );
  --header-gradient: linear-gradient(
    to bottom,
    rgba(209, 209, 209, 0.8) 30%,
    rgba(209, 209, 209, 0.6) 60%,
    rgba(209, 209, 209, 0) 100%
  );
  --body-background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffff00'/><path d='M15.986 4.186 4.1 16.072v.58L16.566 4.186Zm7.62 0 12.38 12.38v-.58l-11.8-11.8Zm12.38 19.248L23.52 35.9h.58l11.886-11.886ZM4.1 23.52v.58l11.8 11.8h.58z'  stroke-linecap='square' stroke-width='1' stroke='%23112b3c10' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

[data-theme="dark"] {
  --color-gray: #{$gray};
  --primary-text-color: #{$white};
  --secondary-text-color: #{$gray};
  --banner-description-color: #{$light-gray};
  --background-color: #{$dark-slate};
  --primary-highlight-color: #{$orange};
  --secondary-highlight-color: #{$yellow};
  --primary-color: #{$dark-slate};
  --secondary-color: #{$slate};
  --header-background-color: #{$dark};
  --footer-background-color: #{$dark};
  --carousel-arrow-color: #{$white};
  --banner-gradient: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.9) 85%
  );
  --header-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  --body-background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ff000000'/><path d='M15.986 4.186 4.1 16.072v.58L16.566 4.186Zm7.62 0 12.38 12.38v-.58l-11.8-11.8Zm12.38 19.248L23.52 35.9h.58l11.886-11.886ZM4.1 23.52v.58l11.8 11.8h.58z'  stroke-linecap='square' stroke-width='0.5' stroke='%231b3b51ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
