@use "variables" as *;

:root {
  --color-dark-slate: #{$dark-slate};
  --color-slate: #{$slate};
  --color-orange: #{$orange};
  --color-light: #{$light};
  --color-dark: #{$dark};
  --color-yellow: #{$yellow};
  --color-gray: #{$gray};
  --color-black: #{$black};
  --color-white: #{$white};
  --primary-text-color: #{$white};
  --secondary-text-color: #{$gray};
  --background-color: #{$dark-slate};
  --primary-highlight-color: #{$orange};
  --primary-color: #{$dark-slate};
  --secondary-color: #{$slate};
}

[data-theme="light"] {
  --primary-text-color: #{$white};
  --secondary-text-color: #{$gray};
  --background-color: #{$dark-slate};
  --primary-highlight-color: #{$orange};
  --primary-color: #{$dark-slate};
  --secondary-color: #{$slate};
}

[data-theme="dark"] {
  --primary-text-color: #{$white};
  --secondary-text-color: #{$gray};
  --background-color: #{$dark-slate};
  --primary-highlight-color: #{$orange};
  --primary-color: #{$dark-slate};
  --secondary-color: #{$slate};
}
