.navMenu {
  display: flex;

  .linkContainer {
    position: relative;

    .link {
      text-decoration: none;
      color: var(--secondary-text-color);

      &.active {
        color: var(--primary-text-color);

        &::after {
          content: "";
          display: block;
          position: absolute;
          margin-top: 10px;
          margin-left: calc(50% - 5px);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--primary-highlight-color);
        }
      }
    }
  }
}
