.bannerItem {
  position: relative;
  width: 100%;
  height: calc(100dvh - 5rem);
  max-height: 1000px;
  color: var(--primary-text-color);
  font-family: var(--font-primary);
  display: flex;
  align-items: center;

  .itemContent {
    position: absolute;

    max-width: 60%;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: var(--spacing-md);
    line-height: normal;

    z-index: 10;

    .itemInfo {
      display: flex;
      align-items: center;
      gap: var(--spacing-lg);
      font-size: var(--font-md);

      .itemImdb {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);

        .icon {
          display: flex;
          align-items: center;
        }
      }

      .itemGenre {
        .genre {
          .dot {
            margin: 0 0.5rem;
            font-weight: bold;
          }
        }
      }
    }

    .itemTitle {
      font-size: 3rem;
    }

    .itemDescription {
      font-size: var(--font-sm);
      font-weight: 400;
      line-height: 1.5rem;
      color: var(--banner-description-color);
      line-clamp: 2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
    }

    .actionButtons {
      margin-top: var(--spacing-lg);
      display: flex;
      gap: var(--spacing-md);
    }
  }

  .bannerImage {
    height: 100%;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: var(--banner-gradient);
  }
}

@media (max-width: 980px) {
  .bannerItem {
    .itemContent {
      max-width: 100%;
      padding: 3rem;
      gap: var(--spacing-sm);
    }
  }
}

@media (max-width: 756px) {
  .bannerItem {
    height: 60dvh;

    .itemContent {
      align-items: center;

      .itemTitle {
        font-size: 2rem;
        text-align: center;
      }

      .itemDescription {
        text-align: center;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--banner-gradient-small);
    }
  }
}

@media (max-width: 480px) {
  .bannerItem {
    .itemContent {
      gap: var(--spacing-lg);
      font-weight: 500;

      .itemTitle {
        font-size: var(--font-xxl);
      }

      .itemDescription {
        font-weight: 500;
      }

      .itemInfo {
        flex-direction: column;
        gap: var(--spacing-sm);
      }
    }
  }
}
