.castSection {
  .castContainer {
    position: relative;
    padding: 0 5rem;
    display: flex;
    overflow-y: auto;
    gap: var(--spacing-lg);
    scrollbar-width: none;

    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-md);
      text-decoration: none;
      color: inherit;

      .imageContainer {
        position: relative;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;

        .placeholderImage {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-color: var(--secondary-color);
        }
      }

      .name {
        text-align: center;
        font-weight: 300;
      }
    }
  }
}
