.castSection {
  .castContainer {
    position: relative;
    padding: 0 5rem;
    display: flex;
    overflow-y: auto;
    gap: var(--spacing-lg);
    scrollbar-width: none;

    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-md);
      text-decoration: none;
      color: inherit;

      .imageContainer {
        position: relative;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;

        .imageWrapper {
          position: relative;
          width: 180px;
          height: 240px;
        }

        .placeholderImage {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-color: var(--secondary-color);
        }
      }

      .name {
        text-align: center;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 980px) {
  .castSection {
    .castContainer {
      padding: 0 3rem;
    }
  }
}

@media (max-width: 480px) {
  .castSection {
    .castContainer {
      padding: 0 2rem;

      .member {
        .imageContainer {
          width: 100px;
          height: 100px;

          .imageWrapper {
            width: 100px;
            height: 132px;
          }
        }
      }
    }
  }
}
